table {
    width: 70%;
    margin: 1% auto auto auto;
  }
  
.card-section {
    margin: 10% 10% 1% 10%;
    padding: 4%;
  }

.menu {
    padding: 0;
    margin: auto;
    max-width: 1000px;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: flex-start;
    align-items: flex-start;
}